<div class="content-containter">
    <div class="title-container">
        <h2 class="text"> School Analysis </h2>
    </div>

    <form (submit)="onSubmit()">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="schoolid" name="schoolid" />
        </span>
        <button type="submit">Search</button>
    </form>
    <div>
        <p-table [value]="graderesults" [tableStyle]="{ 'min-width': '50rem' }"
                 [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Level</th>
                    <th *ngFor="let key of courseKeys">{{ key }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr *ngFor="let graderesult of graderesults">
                    <td>{{ graderesult.level }}</td>
                    <td *ngFor="let key of courseKeys">{{ graderesult[key] }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>