<div class="content-container">
  <div class="title-container">
    <h3 class="text">Transaction Information</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Country of Origin</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['originCountry']"
          [label]="'country of origin'"
          [placeholder]="'Country of Origin'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Number of Parcels</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['parcelNumber']"
          [label]="'number of parcels'"
          [placeholder]="'Number of Parcels'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>

    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text">Name and address of exporter</label>
        <textarea
          placeholder="Name and address of exporter"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="exporterParticulars"
        ></textarea>
      </div>
    </article>

    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text">Name and address of importer</label>
        <textarea
          placeholder="Name and address of importer"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="importerParticulars"
        ></textarea>
      </div>
    </article>

    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
