<section class="video-container">
  <article class="content-container">
    <div class="login-card">
      <div class="header">
        <img class="company-logo" />
        <h2 class="text">Diamond Hub</h2>
      </div>

      <p class="text">Reset your account login info</p>
      <form [formGroup]="resetForm" class="form-container">
        <div class="form-control-group">
          <app-text-input
            [type]="'text'"
            [formControl]="resetForm.controls['token']"
            [label]="'token'"
            [placeholder]="'Token'"
            class="form-control-container"
          ></app-text-input>
        </div>
        <div class="form-control-group">
          <app-text-input
            [type]="'password'"
            [formControl]="resetForm.controls['password']"
            [label]="'password'"
            [placeholder]="'Password'"
            class="form-control-container"
          ></app-text-input>
        </div>
        <app-btn
          [disabled]="!resetForm.valid"
          [label]="'Update Account Info'"
          (click)="resetForm.valid && reset()"
        ></app-btn>
      </form>
    </div>
  </article>

  <video muted autoplay loop src="../../../assets/videos/spin.mp4"></video>
  <div class="overlay"></div>
</section>
