<div class="content-container">
  <div class="title-container">
    <h3 class="text">Requested Service</h3>
    <p class="text">
      Select the type of certificate or license you would like to apply for.
    </p>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Service</label>
        <p-dropdown
          [options]="[
            'Precious Stone Dealers License',
            'Diamond Cutting License',
            'Kimberly Process Certificate'
          ]"
          formControlName="service"
          placeholder="Service"
        >
        </p-dropdown>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && selectService()"
      ></app-btn>
    </article>
  </form>
</div>
