<section class="video-container">
  <article class="content-container">
    <article class="headline">
      <h1>The All New Digital Diamond Hub Experience.</h1>
    </article>

    <div class="form-container">
      <div class="form-header">
        <img class="company-logo" />
        <h2 class="text">Create your free account</h2>
      </div>
      <form [formGroup]="userForm">
        <article class="form-group">
          <div class="form-control-group">
            <label class="text">First Name</label>
            <app-text-input
              [type]="'text'"
              [formControl]="userForm.controls['firstname']"
              [label]="'first name'"
              [placeholder]="'First Name'"
              class="form-control-container"
            ></app-text-input>
          </div>
          <div class="form-control-group">
            <label class="text">Last Name</label>
            <app-text-input
              [type]="'text'"
              [formControl]="userForm.controls['lastname']"
              [label]="'last name'"
              [placeholder]="'Last Name'"
            ></app-text-input>
          </div>
          <div class="form-control-group">
            <label class="text">User Name</label>
            <app-text-input
              [type]="'text'"
              [formControl]="userForm.controls['username']"
              [label]="'user name'"
              [placeholder]="'User Name'"
              class="form-control-container"
            ></app-text-input>
          </div>
        </article>
        <article class="form-group">
          <div class="form-control-group">
            <label class="text">Dialing Code</label>
            <app-country-code-selection
              [defaultCountryName]="'BWA'"
              [formControl]="userForm.controls['countryCode']"
            ></app-country-code-selection>
          </div>
          <div class="form-control-group">
            <label class="text">Phone Number</label>
            <app-text-input
              [type]="'text'"
              id="'phoneNumber"
              [formControl]="userForm.controls['phoneNumber']"
              [label]="'phone number'"
              [placeholder]="'Enter phone number'"
              class="form-control-container"
            ></app-text-input>
          </div>

          <div class="form-control-group">
            <label class="text">Password</label>
            <app-text-input
              [type]="'password'"
              [formControl]="userForm.controls['password']"
              [label]="'password'"
              [placeholder]="'Password'"
            ></app-text-input>
          </div>
        </article>
        <article class="form-group-two-column">
          <div class="form-control-group">
            <label class="text">Email</label>
            <app-text-input
              [type]="'email'"
              [formControl]="userForm.controls['email']"
              [label]="'email'"
              [placeholder]="'Email'"
            ></app-text-input>
          </div>
          <div class="form-control-group">
            <label class="text">National Identity Number</label>
            <app-text-input
              [type]="'text'"
              [formControl]="userForm.controls['nationalIdentityNumber']"
              [label]="'national identity number'"
              [placeholder]="'National Identity Number'"
              class="form-control-container"
            ></app-text-input>
          </div>
        </article>

        <article class="form-group-one-column">
          <app-btn
            [label]="'Sign Up'"
            [disabled]="!userForm.valid"
            (click)="userForm.valid && registerUser()"
          ></app-btn>
        </article>
        <div class="link-group">
          <p class="text">
            Already have an account?
            <a routerLink="/sign-in" class="forgot-password-link">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </article>

  <video
    id="video"
    autoplay
    loop
    src="../../../assets/videos/spin.mp4"
    muted
  ></video>
  <div class="overlay"></div>
</section>
