{{#loms_facebook_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/loms_facebook_url}}
{{#loms_twitter_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_twitter_url }}}"><i class="fa fa-twitter"></i></a></li>
{{/loms_twitter_url}}
{{#loms_instagram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/loms_instagram_url}}
{{#loms_pinterest_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/loms_pinterest_url}}
{{#loms_dribbble_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/loms_dribbble_url}}
{{#loms_google_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/loms_google_url}}
{{#loms_youtube_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/loms_youtube_url}}
{{#loms_vk_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/loms_vk_url}}
{{#loms_500px_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/loms_500px_url}}
{{#loms_behance_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/loms_behance_url}}
{{#loms_digg_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/loms_digg_url}}
{{#loms_flickr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/loms_flickr_url}}
{{#loms_foursquare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/loms_foursquare_url}}
{{#loms_linkedin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/loms_linkedin_url}}
{{#loms_medium_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/loms_medium_url}}
{{#loms_meetup_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/loms_meetup_url}}
{{#loms_snapchat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/loms_snapchat_url}}
{{#loms_tumblr_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/loms_tumblr_url}}
{{#loms_vimeo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/loms_vimeo_url}}
{{#loms_wechat_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/loms_wechat_url}}
{{#loms_whatsapp_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/loms_whatsapp_url}}
{{#loms_wordpress_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/loms_wordpress_url}}
{{#loms_weibo_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/loms_weibo_url}}
{{#loms_telegram_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/loms_telegram_url}}
{{#loms_moodle_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/loms_moodle_url}}
{{#loms_amazon_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/loms_amazon_url}}
{{#loms_slideshare_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/loms_slideshare_url}}
{{#loms_soundcloud_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/loms_soundcloud_url}}
{{#loms_leanpub_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/loms_leanpub_url}}
{{#loms_xing_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/loms_xing_url}}
{{#loms_bitcoin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/loms_bitcoin_url}}
{{#loms_twitch_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/loms_twitch_url}}
{{#loms_github_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/loms_github_url}}
{{#loms_gitlab_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/loms_gitlab_url}}
{{#loms_forumbee_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/loms_forumbee_url}}
{{#loms_trello_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/loms_trello_url}}
{{#loms_weixin_url}}
    <li><a class="d-block" {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ loms_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/loms_weixin_url}}