.item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

:host ::ng-deep .p-dropdown {
  display: flex;
  align-items: center;
  font-family: sans-serif;
}

:host ::ng-deep .p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding: 0;
}
