<div class="content-container">
  <div class="title-container">
    <h3 class="text">Cash Flow</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text">Enter your 4 year cash flow projections</label>
        <app-data-grid-input #dataGridCmp></app-data-grid-input>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
