<body *ngIf="document != null">
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Name of user</label>
      <p class="text">
        {{ document.applicant.fullName }}
      </p>
    </div>
    <div class="control-group">
      <label class="text">Email of user</label>
      <p class="text">{{ document.applicant.email }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">National identity number</label>
      <p class="text">
        {{ document.applicant.nationalIdentityNumber }}
      </p>
    </div>
    <div class="control-group">
      <label class="text">Application Date</label>
      <p class="text">
        {{ formattedDate(document.dateCreated) }}
      </p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Name of Applicant</label>
      <p class="text">{{ application.name }}</p>
    </div>
    <div class="control-group">
      <label class="text">Manufacturing License Number</label>
      <p class="text">{{ application.manufacturingLicenseNumber }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Address in Botswana</label>
      <p class="text">{{ application.address }}</p>
    </div>
    <div class="control-group">
      <label class="text">Authorized Share Capital (BWP)</label>
      <p class="text">{{ application.authorizedShareCapital }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Issued Share Capital (BWP)</label>
      <p class="text">{{ application.issuedShareCapital }}</p>
    </div>
    <div class="control-group">
      <label class="text">Experience in semi-precious stones</label>
      <p class="text">{{ application.experience }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Directors details</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.directorsDetails"
        [columns]="directorsDetailsColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Shareholders details</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.shareholdersDetails"
        [columns]="shareholdersDetailsColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Intended operations</label>
      <p class="text">{{ application.intendedOperations }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Plant information</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.plantInformation"
        [columns]="plantInformationColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Employment information</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.employmentInformation"
        [columns]="employmentColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Value of Property (BWP)</label>
      <p class="text">{{ application.propertyValue }}</p>
    </div>
    <div class="control-group">
      <label class="text">Cash on Hand (BWP)</label>
      <p class="text">{{ application.cash }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Other Assets (BWP)</label>
      <p class="text">{{ application.otherAssets }}</p>
    </div>
    <div class="control-group">
      <label class="text">Capital Intended to invest (BWP)</label>
      <p class="text">{{ application.capital }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Types and quantities of stones needed per year</label>
      <p class="text">{{ application.typesQuantitiesStones }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Location of operations</label>
      <p class="text">{{ application.location.physicalAddress }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Source of the stones</label>
      <p class="text">{{ application.sourceStones }}</p>
    </div>
    <div class="control-group">
      <label class="text">Market of products</label>
      <p class="text">{{ application.market }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text"
        >Quantities and source of any other inputs required</label
      >
      <p class="text">{{ application.typesQuantitiesOtherInputs }}</p>
    </div>
    <div class="control-group">
      <label class="text">Expected sales prices per type of stone</label>
      <p class="text">{{ application.expectedSales }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">4 year cash flow projections</label>
      <app-data-grid
        [height]="'500px'"
        [data]="application.cashFlow"
        [columns]="cashFlowColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Declared insolvent</label>
      <p class="text">{{ application.insolvent }}</p>
    </div>
  </article>
  <h4 class="text">Business Report</h4>
  <!--Business Report-->
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Process of cutting and polishing the stones</label>
      <p class="text">{{ application.process }}</p>
    </div>
    <div class="control-group">
      <label class="text"
        >Challenges or obstacles in the sourcing and value addition
        process</label
      >
      <p class="text">{{ application.challenges }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text"
        >Strategies that will be employed to overcome the challenges</label
      >
      <p class="text">{{ application.strategies }}</p>
    </div>
    <div class="control-group">
      <label class="text"
        >Estimation of the cost involved in sourcing and value addition</label
      >
      <p class="text">{{ application.cost }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text"
        >Expected timeline for the entire process from sourcing to value
        addition</label
      >
      <p class="text">{{ application.timeline }}</p>
    </div>
    <div class="control-group">
      <label class="text"
        >Quality control measures in place for the stones during value
        addition</label
      >
      <p class="text">{{ application.qualityControl }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Supporting documents</label>
      <ng-container *ngFor="let file of application.files">
        <p class="text">
          <a href="{{ file.fileUrl }}" target="_blank">{{ file.fileName }}</a>
        </p>
      </ng-container>
    </div>
  </article>
</body>
<body>
  <!--Form-->
  <form [formGroup]="reviewForm" class="form-container">
    <h4 class="text">Review</h4>
    <article class="group-one-column">
      <div class="control-group">
        <label class="text">Add your review</label>
        <p-selectButton
          [options]="stateOptions"
          formControlName="action"
          optionLabel="label"
          optionValue="value"
        ></p-selectButton>
        <textarea
          *ngIf="reviewForm.controls.action.value == 'Reject'"
          placeholder="Explain why the application was rejected"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="reason"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Confirm'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!reviewForm.valid"
        (click)="reviewForm.valid && review()"
      ></app-btn>
    </article>
  </form>
</body>
