input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--light);
  /* Not removed via appearance */
  margin: 0;

  width: 2rem;
  height: 2rem;
  border: 0.15em solid var(--accent-color);
  border-radius: 100%;

  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--accent-color);
  border-radius: 100%;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
