/* Max width 767px */
@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-50 {
    padding-bottom: 30px;
  }
  .pl-15 {
    padding-left: 0;
  }
  .pr-15 {
    padding-right: 0;
  }
  .pb-150 {
    padding-bottom: 60px;
  }
  .ml-15 {
    margin-left: 0;
  }
  .mr-15 {
    margin-right: 0;
  }
  .default-btn {
    font-size: 14px;
    padding: 14px 20px;
  }
  .read-more {
    font-size: 16px;
  }
  .form-control {
    height: 50px;
  }
  .form-control::-moz-placeholder {
    font-size: 14px;
  }
  .form-control::placeholder {
    font-size: 14px;
  }
  /* Banner Area */
  .banner-area {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
  }
  .banner-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .banner-area .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
  .banner-content {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .banner-content h1 {
    font-size: 35px;
    letter-spacing: 0;
    line-height: 40px;
  }
  .banner-content p {
    font-size: 14px;
  }
  .banner-content p span {
    color: var(--optional-color);
  }
  .aws-content {
    margin-top: 0;
  }
  .shape {
    display: none;
  }
  .aws-content {
    margin: auto;
  }
  .sand-box {
    margin: auto !important;
  }
  .sand-box.mr-45 {
    margin-right: 0;
  }
  .sand-box.mt-40 {
    margin-top: 30px !important;
  }
  .banner-area-two .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 540px;
  }
  .banner-content-two {
    padding: 15px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .banner-content-two h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
  }
  .banner-content-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .banner-area.bg-3 {
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .develop-card {
    display: block !important;
    float: unset;
    margin-bottom: 30px;
    max-width: 300px;
    margin: auto !important;
    margin-bottom: 30px !important;
  }
  .develop-card .more {
    display: none;
  }
  .develop-card.mr-130 {
    margin-right: 0;
  }
  .develop-card .develop-content {
    margin: 0;
    padding: 20px;
    max-width: 100%;
  }
  .develop-card .develop-content.ml-minus-50 {
    margin-left: 0;
    margin-bottom: 0;
  }
  /* Features Area */
  .features-area {
    padding-top: 60px;
  }
  .features-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .features-area .container-fluid {
    max-width: 540px;
  }
  .single-features {
    padding: 30px 15px;
    text-align: center;
  }
  .single-features .icon {
    margin: auto;
    margin-bottom: 15px;
  }
  .single-features h3 {
    font-size: 18px;
  }
  /* Section Title Area */
  .section-title h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .section-title.d-flex {
    display: block !important;
  }
  .section-title .read-more {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
  }
  /* Categories Area */
  .categories-area {
    background-color: #f9f9f9;
    padding-top: 60px;
  }
  .single-categories {
    padding: 20px;
  }
  .browse-all-btn {
    margin-top: 0;
  }
  /* Courses Area */
  .col-20 {
    width: 100%;
    flex: 0 0 auto;
  }
  .single-courses {
    margin-bottom: 30px;
  }
  .single-courses .courses-content h3 {
    line-height: 25px;
  }
  .shorting-menu .filter {
    padding: 0 10px;
  }
  .shorting-menu .filter.mixitup-control-active::before {
    display: none;
  }
  .top-courses-area .container-fluid {
    left: unset;
  }
  .top-courses-slide.owl-theme .owl-nav {
    position: unset;
  }
  .top-courses-slide.owl-theme .owl-nav .owl-prev, .top-courses-slide.owl-theme .owl-nav .owl-next {
    position: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  /* Instructor Area */
  .instructor-slide.owl-theme .owl-nav .owl-next, .instructor-slide.owl-theme .owl-nav .owl-prev {
    position: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transform: unset;
  }
  .single-instructor {
    margin-left: 0;
    margin-right: 0;
  }
  .single-instructor .instructor-info {
    padding: 20px;
  }
  .single-instructor .instructor-info h3 {
    font-size: 20px;
  }
  /* Pricing Area */
  .pricing-content {
    margin-bottom: 30px;
  }
  .pricing-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .single-pricing {
    padding: 30px;
  }
  .single-pricing.most {
    margin-top: 30px;
  }
  .single-pricing .most {
    display: none;
  }
  .ml-40 {
    margin-left: 0;
  }
  /* Students Area */
  .join-students {
    padding: 20px;
  }
  .join-students h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .join-students p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  /* Qualities Area */
  .single-qualities {
    padding-right: 0;
    text-align: center;
  }
  .single-qualities img {
    margin-bottom: 30px;
  }
  .single-qualities h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* Testimonials Area */
  .single-testimonials {
    margin: 0;
  }
  .thumbs-wrap .owl-thumb-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  /* Successful Area */
  .successful-content.ml-70 {
    margin-left: 0;
  }
  .successful-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .single-successful {
    display: block !important;
    text-align: center;
  }
  .single-successful .successful-video-content {
    margin-left: 0;
    margin-top: 15px;
  }
  .successful-content.mr-70 {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .successful-content .default-btn {
    width: 100%;
    display: block;
  }
  /* Selection Area */
  .selection-courses-tab {
    margin-bottom: 30px;
  }
  .selection-courses-tab .nav-item .nav-link {
    padding: 8px 10px;
  }
  .selection-courses-area .container-fluid {
    left: unset;
  }
  .selection-courses-slide.owl-theme .owl-nav {
    position: unset;
    transform: unset;
    margin-bottom: 20px !important;
  }
  .selection-courses-slide.owl-theme .owl-nav .owl-next, .selection-courses-slide.owl-theme .owl-nav .owl-next {
    position: unset;
    transform: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .selection-courses-slide.owl-theme .owl-nav .owl-prev {
    position: unset !important;
    margin-bottom: 0;
    margin-top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  /* Pages Banner Area */
  .pages-banner-area {
    padding-top: 60px;
  }
  .pages-banner-content {
    padding: 20px;
  }
  .pages-banner-content h2 {
    font-size: 30px;
  }
  .pages-banner-content nav ol .breadcrumb-item {
    font-size: 15px;
  }
  /* Search Result Area */
  .search-result p {
    margin-bottom: 15px;
  }
  .search-result ul li {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
  .search-result ul li:last-child {
    margin-bottom: 0;
  }
  /* Pagination Area */
  .pagination-area {
    margin-top: 0;
  }
  .pagination-area .page-numbers {
    width: 40px;
    height: 40px;
    line-height: 44px;
  }
  .pagination-area .page-numbers.next {
    line-height: 40px;
  }
  /* Course Details Area */
  .course-details-content h2 {
    font-size: 25px;
  }
  .course-details-content .best-seller li {
    margin-right: 0;
  }
  .course-details-content .best-seller li::before {
    display: none;
  }
  .course-details-content .best-seller li a {
    padding: 5px 10px;
  }
  .course-details-content .admin-info {
    margin-bottom: 30px;
  }
  .course-details-content .course-tab .nav-item .nav-link {
    padding-top: 0;
  }
  .course-details-content .gap-mb-50 {
    margin-bottom: 40px;
  }
  .course-details-content .reviews ul li {
    display: block !important;
  }
  .course-details-content .reviews ul li img {
    margin-bottom: 20px;
  }
  .course-details-content .course-contents .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    display: block;
    padding: 15px 15px;
  }
  .course-details-content .course-contents .accordion-item h2 span {
    margin-left: 17px;
  }
  .course-details-content .course-contents .accordion-item .courses-items h3 span {
    margin-left: 0;
  }
  .course-details-content .course-contents .accordion-item .courses-items .courses-info {
    text-align: center;
  }
  .course-details-content .course-contents .accordion-item .courses-items .courses-info span {
    margin-right: 0;
  }
  .course-details-content .outcomes-content .title {
    margin-bottom: 20px;
  }
  .course-details-content .outcomes-content .title li span {
    float: unset;
  }
  .course-details-content .outcomes-content .lesson .lesson-list span {
    float: unset;
    margin-left: 0;
  }
  .course-details-sidebar .sidebar-futcher {
    padding: 10px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title {
    margin-bottom: 18px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title h2 {
    font-size: 25px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title h2 del {
    font-size: 15px;
    top: -3px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title p {
    font-size: 15px;
  }
  .course-details-sidebar .sidebar-futcher ul li {
    font-size: 15px;
  }
  .course-details-sidebar .default-btn {
    padding: 16px 30px;
  }
  /* Instructor Details Area */
  .instructor-details-content {
    margin-left: 0;
    margin-top: 30px;
  }
  .instructor-details-content span {
    margin-bottom: 20px;
  }
  .instructor-details-content h3 {
    font-size: 22px;
  }
  .instructor-details-content p {
    margin-bottom: 30px;
  }
  .instructor-details-content .course-title {
    display: block !important;
  }
  /* Coupon cart Area */
  .coupon-cart .default-btn.update-cart {
    float: unset;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .coupon-cart .form-group {
    max-width: 100%;
  }
  .coupon-cart .form-group .form-control {
    height: 50px;
  }
  .coupon-cart .form-group .default-btn {
    position: unset;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .cart-totals {
    margin-top: 50px;
    max-width: 100%;
  }
  /* Checkout cart Area */
  .checkout-wrap .billing-details {
    padding: 20px;
  }
  .checkout-wrap .billing-details h3 {
    font-size: 20px;
  }
  .cart-total {
    padding: 20px;
    margin-top: 30px;
  }
  .checkout-wrap .faq-accordion {
    padding: 20px;
  }
  /* Blog Post Area */
  .blog-post-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  /* Blog Details Area */
  .blog-details-content h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .blog-details-content .tags li {
    margin-bottom: 10px;
  }
  .blog-details-content .tags li a {
    padding: 10px 5px;
    font-size: 12px;
  }
  .blog-details-content blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 40px;
  }
  .blog-details-content blockquote p {
    font-size: 17px;
  }
  .blog-details-content .gap-mb-50 {
    margin-bottom: 40px;
  }
  .blog-details-content h3 {
    font-size: 20px;
  }
  .blog-details-content .social-link li {
    margin-right: 4px;
  }
  .blog-details-content .post-author {
    display: block !important;
  }
  .blog-details-content .post-author .default-btn {
    margin-top: 10px;
  }
  .blog-details-content .comments ul li {
    display: block !important;
  }
  .blog-details-content .comments ul li.reply {
    margin-left: 0;
  }
  .blog-details-content .comments ul li .comment-onfo .read-more {
    font-size: 16px;
  }
  /* Event Area */
  .event-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  .event-details-content .event-info {
    display: block !important;
  }
  .event-details-content .event-info li {
    margin-bottom: 10px;
  }
  .event-details-content .event-info li:last-child {
    margin-bottom: 0;
  }
  .sidebar-widget h3 {
    font-size: 22px;
  }
  .sidebar-widget.event-information {
    margin-top: 30px;
    padding: 20px;
  }
  .sidebar-widget.event-information .social-link-wrapper .social-link li {
    margin-right: 5px;
  }
  /* Instructor Area */
  .instructor-area .row.row-space {
    --bs-gutter-x: 24px;
  }
  .single-instructor .instructor-info .read-btn {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
  /* Register Area */
  .register-tab .nav-item .nav-link {
    padding: 10px 35px;
  }
  /* FAQ Area */
  .accordion-item .accordion-header .accordion-button {
    padding: 15px;
  }
  /* Error Area */
  .error-content h3 {
    font-size: 25px;
  }
  /* Coming Soon Style */
  .coming-soon-content {
    padding: 20px;
  }
  .coming-soon-content .text-start {
    text-align: center !important;
    margin-bottom: 30px;
  }
  .coming-soon-content h2 {
    font-size: 25px;
    line-height: normal !important;
  }
  .coming-soon-content .col-lg-3.col-sm-4 {
    order: 1;
  }
  .coming-soon-content .newsletter-form .default-btn {
    padding: 17px 15px;
    border-radius: 0;
  }
  /* Contact Info Style */
  .contact-info-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .contact-info-area .container {
    max-width: 540px;
  }
  .single-contact-info {
    padding: 30px;
    text-align: center;
  }
  .single-contact-info .icon {
    margin: auto;
    margin-bottom: 10px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-features {
    padding: 12px;
  }
  .single-features h3 {
    font-size: 15px;
  }
  .col-20 {
    width: 50%;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-50 {
    padding-bottom: 30px;
  }
  .pl-15 {
    padding-left: 0;
  }
  .pr-15 {
    padding-right: 0;
  }
  .pb-150 {
    padding-bottom: 60px;
  }
  .ml-15 {
    margin-left: 0;
  }
  .mr-15 {
    margin-right: 0;
  }
  .default-btn {
    font-size: 14px;
    padding: 15px 15px;
  }
  .read-more {
    font-size: 16px;
  }
  .form-control {
    height: 50px;
  }
  .form-control::-moz-placeholder {
    font-size: 14px;
  }
  .form-control::placeholder {
    font-size: 14px;
  }
  /* Banner Area */
  .banner-area {
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
  }
  .banner-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .banner-area .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
  .banner-content {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  .banner-content h1 {
    font-size: 45px;
    letter-spacing: 0;
    line-height: 60px;
    margin: auto;
    margin-bottom: 15px;
  }
  .banner-content p {
    font-size: 15px;
    margin: auto;
    margin-bottom: 15px;
  }
  .banner-content p span {
    color: var(--optional-color);
  }
  .aws-content {
    margin-top: 0;
  }
  .shape {
    display: none;
  }
  .aws-content {
    margin: auto;
  }
  .sand-box {
    margin: auto !important;
  }
  .sand-box.mr-45 {
    margin-right: 0;
  }
  .sand-box.mt-40 {
    margin-top: 30px !important;
  }
  .banner-area-two .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 720px;
  }
  .banner-content-two {
    padding: 15px;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 540px;
    margin: auto;
  }
  .banner-content-two h1 {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0;
  }
  .banner-content-bg {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .banner-area.bg-3 {
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .develop-card {
    display: inline-block !important;
    margin-bottom: 30px;
    max-width: 300px;
  }
  .develop-card .more {
    display: none;
  }
  .develop-card.mr-130 {
    margin-right: 0;
  }
  .develop-card .develop-content {
    margin: 0;
    padding: 20px;
    max-width: 100%;
  }
  .develop-card .develop-content.ml-minus-50 {
    margin-left: 0;
    margin-bottom: 0;
  }
  /* Features Area */
  .features-area {
    padding-top: 60px;
  }
  .features-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .features-area .container-fluid {
    max-width: 720px;
  }
  .single-features {
    padding: 15px;
    text-align: center;
  }
  .single-features .icon {
    margin: auto;
    margin-bottom: 15px;
  }
  .single-features h3 {
    font-size: 18px;
  }
  /* Section Title Area */
  .section-title h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .section-title.d-flex {
    display: block !important;
  }
  .section-title .read-more {
    margin-top: 10px;
    display: inline-block;
    font-size: 16px;
  }
  /* Categories Area */
  .categories-area {
    background-color: #f9f9f9;
    padding-top: 60px;
  }
  .single-categories {
    padding: 20px;
    text-align: center;
  }
  .single-categories .d-flex {
    display: block !important;
  }
  .single-categories .ms-4 {
    margin-left: 0 !important;
  }
  .single-categories .icon {
    margin: auto;
    margin-bottom: 10px;
  }
  .browse-all-btn {
    margin-top: 0;
  }
  /* Courses Area */
  .col-20 {
    width: 50%;
    flex: 0 0 auto;
  }
  .single-courses {
    margin-bottom: 30px;
  }
  .single-courses .courses-content h3 {
    line-height: 25px;
  }
  .shorting-menu .filter {
    padding: 0 10px;
  }
  .shorting-menu .filter.mixitup-control-active::before {
    display: none;
  }
  .top-courses-area .container-fluid {
    left: unset;
  }
  .top-courses-slide.owl-theme .owl-nav {
    position: unset;
  }
  .top-courses-slide.owl-theme .owl-nav .owl-prev, .top-courses-slide.owl-theme .owl-nav .owl-next {
    position: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  /* Instructor Area */
  .instructor-slide.owl-theme .owl-nav .owl-next, .instructor-slide.owl-theme .owl-nav .owl-prev {
    position: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transform: unset;
  }
  .single-instructor {
    margin-left: 0;
    margin-right: 0;
  }
  .single-instructor .instructor-info {
    padding: 20px;
  }
  .single-instructor .instructor-info h3 {
    font-size: 20px;
  }
  /* Pricing Area */
  .pricing-content {
    margin-bottom: 30px;
  }
  .pricing-content h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .single-pricing {
    padding: 30px;
  }
  .single-pricing.most {
    margin-top: 30px;
  }
  .single-pricing .most {
    display: none;
  }
  .ml-40 {
    margin-left: 0;
  }
  /* Students Area */
  .join-students {
    padding: 20px;
    text-align: center;
  }
  .join-students h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .join-students p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  /* Qualities Area */
  .single-qualities {
    padding-right: 0;
    text-align: center;
  }
  .single-qualities img {
    margin-bottom: 30px;
  }
  .single-qualities h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  /* Testimonials Area */
  .single-testimonials {
    margin: 0;
  }
  .thumbs-wrap .owl-thumb-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  /* Successful Area */
  .successful-content.ml-70 {
    margin-left: 0;
  }
  .successful-content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .single-successful .successful-video-content {
    margin-top: 15px;
  }
  .successful-content.mr-70 {
    margin-right: 0;
    margin-bottom: 30px;
  }
  /* Selection Area */
  .selection-courses-tab {
    margin-bottom: 30px;
  }
  .selection-courses-tab .nav-item .nav-link {
    padding: 8px 10px;
  }
  .selection-courses-area .container-fluid {
    left: unset;
  }
  .selection-courses-slide.owl-theme .owl-nav {
    position: unset;
    transform: unset;
    margin-bottom: 20px !important;
  }
  .selection-courses-slide.owl-theme .owl-nav .owl-next, .selection-courses-slide.owl-theme .owl-nav .owl-next {
    position: unset;
    transform: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .selection-courses-slide.owl-theme .owl-nav .owl-prev {
    position: unset !important;
    margin-bottom: 0;
    margin-top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .develop-card-wrapper {
    max-width: 600px;
    margin: auto;
  }
  /* Pages Banner Area */
  .pages-banner-content {
    padding: 50px;
  }
  .pages-banner-content h2 {
    font-size: 40px;
  }
  /* Search Result Area */
  .search-result p {
    margin-bottom: 15px;
  }
  .search-result ul li {
    margin-right: 0;
    display: block;
    margin-bottom: 15px;
  }
  .search-result ul li:last-child {
    margin-bottom: 0;
  }
  /* Pagination Area */
  .pagination-area {
    margin-top: 0;
  }
  .pagination-area .page-numbers {
    width: 40px;
    height: 40px;
    line-height: 44px;
  }
  .pagination-area .page-numbers.next {
    line-height: 40px;
  }
  /* Course Details Area */
  .course-details-content h2 {
    font-size: 30px;
  }
  .course-details-content .best-seller li {
    margin-right: 0;
  }
  .course-details-content .best-seller li::before {
    display: none;
  }
  .course-details-content .best-seller li a {
    padding: 5px 10px;
  }
  .course-details-content .admin-info {
    margin-bottom: 30px;
  }
  .course-details-content .course-tab .nav-item .nav-link {
    padding-top: 0;
  }
  .course-details-content .reviews ul li {
    display: block !important;
  }
  .course-details-content .reviews ul li img {
    margin-bottom: 20px;
  }
  /* Instructor Details Area */
  .instructor-details-content {
    margin-left: 0;
    margin-top: 30px;
    max-width: 100%;
  }
  .instructor-details-content span {
    margin-bottom: 20px;
  }
  .instructor-details-content h3 {
    font-size: 22px;
  }
  .instructor-details-content p {
    margin-bottom: 30px;
  }
  .instructor-details-content .course-title {
    display: block !important;
  }
  .cart-totals {
    margin-top: 50px;
    max-width: 100%;
  }
  .cart-total {
    margin-top: 30px;
  }
  /* Blog Post Area */
  .blog-post-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  /* Blog Details Area */
  .blog-details-content h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .blog-details-content .tags li {
    margin-bottom: 10px;
  }
  .blog-details-content .tags li a {
    padding: 10px 5px;
    font-size: 12px;
  }
  .blog-details-content blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 40px;
  }
  .blog-details-content blockquote p {
    font-size: 17px;
  }
  .blog-details-content .gap-mb-50 {
    margin-bottom: 40px;
  }
  .blog-details-content h3 {
    font-size: 20px;
  }
  .blog-details-content .social-link li {
    margin-right: 4px;
  }
  .blog-details-content .post-author {
    display: block !important;
  }
  .blog-details-content .post-author .default-btn {
    margin-top: 10px;
  }
  .blog-details-content .comments ul li {
    display: block !important;
  }
  .blog-details-content .comments ul li.reply {
    margin-left: 0;
  }
  .blog-details-content .comments ul li .comment-onfo .read-more {
    font-size: 16px;
  }
  /* Event Area */
  .event-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  .event-details-content .event-info {
    display: block !important;
  }
  .event-details-content .event-info li {
    margin-bottom: 10px;
  }
  .event-details-content .event-info li:last-child {
    margin-bottom: 0;
  }
  .sidebar-widget h3 {
    font-size: 22px;
  }
  .sidebar-widget.event-information {
    margin-top: 30px;
    padding: 20px;
  }
  .sidebar-widget.event-information .social-link-wrapper .social-link li {
    margin-right: 5px;
  }
  /* Instructor Area */
  .instructor-area .row.row-space {
    --bs-gutter-x: 24px;
  }
  /* FAQ Area */
  .accordion-item .accordion-header .accordion-button {
    padding: 15px;
  }
  /* Contact Info Style */
  .contact-info-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .contact-info-area .container {
    max-width: 700px;
  }
  .single-contact-info {
    padding: 30px;
    text-align: center;
  }
  .single-contact-info .icon {
    margin: auto;
    margin-bottom: 10px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Banner Area */
  .banner-content {
    margin-left: 0;
  }
  .banner-content-two {
    max-width: 700px;
    margin: auto;
    padding: 30px;
  }
  .sand-box.mr-45 {
    margin-right: 0;
  }
  .sand-box h4 {
    text-align: center;
  }
  .banner-content.banner-content-three h1 {
    font-size: 75px;
    line-height: 80px;
  }
  .banner-area .container-fluid {
    max-width: 960px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .develop-card.mr-130 {
    margin-right: 0;
  }
  .develop-card .develop-content {
    display: block !important;
    padding: 15px;
  }
  .develop-card .develop-content .ms-3 {
    margin-left: 0 !important;
  }
  .develop-card .develop-content p {
    margin-top: 10px;
  }
  .develop-card .more.more-1 {
    top: 20px;
  }
  .develop-card .more.more-2 {
    top: 8px;
  }
  /* Features Area */
  .features-area {
    padding-top: 100px;
  }
  .features-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .features-area .container-fluid {
    max-width: 960px;
  }
  .single-features {
    padding: 50px;
  }
  /* Categories Area */
  .categories-area {
    background-color: #f9f9f9;
    padding-top: 100px;
  }
  .single-categories {
    text-align: center;
  }
  .single-categories .d-flex {
    display: block !important;
  }
  .single-categories .ms-4 {
    margin-left: 0 !important;
  }
  .single-categories .icon {
    margin: auto;
    margin-bottom: 10px;
  }
  /* Courses Area */
  .col-20 {
    width: 33.33%;
  }
  .shorting-menu .filter {
    padding: 0 20px;
  }
  .top-courses-area .container-fluid {
    left: calc((100% - 960px) / 2);
    position: relative;
  }
  /* Students Area */
  .join-students {
    padding: 50px;
  }
  .single-qualities {
    padding-right: 0;
  }
  /* Testimonials Area */
  .testimonials-area .col-lg-5 {
    width: 100%;
  }
  .testimonials-area .col-lg-2 {
    width: 100%;
  }
  /* Successful Area */
  .successful-content.ml-70 {
    margin-left: 0;
  }
  .successful-content.mr-70 {
    margin-right: 0;
  }
  /* Trusted Area */
  .trusted-area .col {
    flex: 1 0 0%;
    max-width: 12.5%;
  }
  .single-trusted {
    width: 100px !important;
    height: 100px !important;
    line-height: 100px !important;
  }
  .shape {
    display: none;
  }
  /* Instructor Area */
  .instructor-slide.owl-theme .owl-nav .owl-prev {
    left: 0;
  }
  .instructor-slide.owl-theme .owl-nav .owl-next {
    right: 0;
  }
  .single-instructor {
    margin-left: 10px;
    margin-right: 10px;
  }
  .single-instructor .instructor-info {
    padding: 20px;
  }
  .single-instructor .instructor-info h3 {
    font-size: 20px;
  }
  /* Pricing Area */
  .pricing-area .ml-40 {
    margin-left: 0;
    margin-top: 40px;
  }
  .selection-courses-tab .nav-item .nav-link {
    padding: 8px 8px;
  }
  .selection-courses-area .container-fluid {
    left: unset;
  }
  .selection-courses-slide.owl-theme .owl-nav .owl-prev {
    left: 0;
  }
  /* Page banner Area */
  .pages-banner-content {
    padding: 80px;
  }
  .course-details-sidebar .sidebar-futcher {
    padding: 10px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title h2 {
    font-size: 25px;
  }
  .course-details-sidebar .sidebar-futcher .sidebar-title h2 del {
    font-size: 15px;
    top: -3px;
  }
  .instructor-details-content {
    margin-left: 0;
  }
  .cart-total {
    padding: 20px;
    margin-top: 30px;
  }
  .checkout-wrap .faq-accordion {
    padding: 20px;
  }
  .blog-post-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  /* Event Area */
  .event-area .row-space .row {
    --bs-gutter-x: 24px;
  }
  .sidebar-widget.event-information {
    padding: 20px;
  }
  /* Instructor Area */
  .instructor-area .row.row-space {
    --bs-gutter-x: 24px;
  }
  /* Contact Info Style */
  .contact-info-area .p-0 {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .contact-info-area .container {
    max-width: 940px;
  }
  /* Testimonials Area */
  .single-testimonials {
    margin: 0;
  }
  .thumbs-wrap .owl-thumb-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1320px;
  }
  /* Banner Area */
  .banner-content {
    margin-left: 0;
  }
  .sand-box h4 {
    text-align: center;
  }
  .categories-area .border-shape {
    height: 40px;
  }
  .top-courses-area .container-fluid {
    left: calc((100% - 1200px) / 2);
  }
  .develop-card.mr-130 {
    margin-right: 0;
  }
  .develop-card-wrapper .shape.shape-2 {
    right: 0;
  }
  .develop-card-wrapper .shape.shape-1 {
    left: 0;
    top: 0;
  }
  /* Instructor Area */
  .instructor-slide.owl-theme .owl-nav .owl-prev {
    left: 10px;
  }
  .instructor-slide.owl-theme .owl-nav .owl-next {
    right: 10px;
  }
  .single-instructor {
    margin-left: 10px;
    margin-right: 10px;
  }
  .single-instructor .instructor-info {
    padding: 20px;
  }
  .single-instructor .instructor-info h3 {
    font-size: 20px;
  }
  /* Testimonials Area */
  .single-testimonials {
    margin: 0;
  }
  .thumbs-wrap .owl-thumb-item {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  /* Successful Area */
  .successful-content.ml-70 {
    margin-left: 0;
  }
  .successful-content.mr-70 {
    margin-right: 0;
  }
  /* Features Area */
  .single-features {
    padding: 50px;
  }
  /* Courses Area */
  .selection-courses-tab .nav-item .nav-link {
    padding: 11px 25px;
  }
  .selection-courses-area .container-fluid {
    left: calc((100% - 1218px) / 2);
  }
}
/* Min width 1400px to Max width 1440px */
/* Min width 1440px to Max width 1740px */
@media only screen and (min-width: 1440px) and (max-width: 1740px) {
  .thumbs-wrap .owl-thumb-item:nth-child(2) {
    left: 100px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(3) {
    left: 220px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(4) {
    left: 300px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(5) {
    left: 360px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(7) {
    left: 180px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(8) {
    left: 355px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(15) {
    right: 108px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(14) {
    right: 200px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(14) {
    right: 220px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(10) {
    right: 190px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(12) {
    right: 365px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(13) {
    right: 285px;
  }
  .thumbs-wrap .owl-thumb-item:nth-child(9) {
    right: 360px;
  }
}
/* Max width 767px */
@media only screen and (max-width: 767px) {
  /* Header Style */
  .top-header-area .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 540px;
  }
  .header-left-content {
    text-align: center;
  }
  .header-left-content p {
    font-size: 14px;
  }
  .header-right-content {
    text-align: center;
  }
  .header-right-content li {
    font-size: 14px;
    margin-right: 10px;
    padding-right: 10px;
  }
  .header-right-content li .form-select {
    font-size: 13px;
  }
  .header-right-content li a {
    font-size: 13px;
    letter-spacing: unset;
  }
  .header-left-contents {
    margin-top: 0 !important;
  }
  .header-left-contents.d-flex {
    display: block !important;
    margin-bottom: 10px;
  }
  .header-left-contents li .search-form {
    width: 100%;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* Top Header */
  .top-header-area .container-fluid {
    max-width: 540px;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Header Style */
  .top-header-area .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 720px;
  }
  .header-left-content {
    text-align: center;
  }
  .header-left-content p {
    font-size: 14px;
  }
  .header-right-content {
    text-align: center;
  }
  .header-right-content li {
    font-size: 14px;
    margin-right: 10px;
    padding-right: 10px;
  }
  .header-right-content li .form-select {
    font-size: 13px;
  }
  .header-right-content li a {
    font-size: 13px;
    letter-spacing: unset;
  }
  .header-left-contents {
    margin-top: 0 !important;
  }
  .header-left-contents.d-flex {
    display: block !important;
    margin-bottom: 10px;
  }
  .header-left-contents li .search-form {
    width: 100%;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Header Area */
  .top-header-area .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 960px;
  }
  .header-right-content li {
    margin-right: 15px;
    padding-right: 15px;
  }
  .header-left-contents li .search-form {
    width: 320px;
  }
  /* Navbar Area */
  .navbar-area .container-fluid {
    max-width: 960px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .navbar-area .category {
    display: none;
  }
  .desktop-nav .navbar .navbar-nav .nav-item a {
    font-size: 16px;
  }
  .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
    font-size: 15px;
  }
  .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: auto;
    right: 250px;
  }
  .desktop-nav .navbar .others-options {
    display: none;
  }
  .desktop-nav .navbar .ms-auto {
    margin: auto !important;
  }
  .others-option-for-responsive {
    display: block !important;
  }
  .others-option-for-responsive .dot-menu {
    top: -56px;
    right: 0;
  }
  .others-option-for-responsive .others-options {
    top: -6px;
  }
  .others-option-for-responsive .others-options ul li .default-btn {
    padding: 16px 10px 12px;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-left-contents li .search-form {
    width: 320px;
  }
  .header-right-content li {
    margin-right: 5px;
    padding-right: 10px;
  }
  /* Navbar Area */
  .desktop-nav .navbar .navbar-nav .nav-item a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .desktop-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: auto;
    right: 250px;
  }
  .desktop-nav .navbar .ms-auto {
    margin: auto !important;
  }
  .desktop-nav .navbar .others-options {
    margin-left: 20px;
  }
  .desktop-nav .navbar .others-options .search-form {
    width: 245px;
  }
  .desktop-nav .navbar .others-options ul li {
    margin-right: 20px;
  }
  .desktop-nav .navbar .others-options ul li:nth-child(1) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .desktop-nav .navbar .others-options ul li .default-btn {
    padding: 16px 20px;
  }
  .navbar-area .navbar-brand {
    margin-right: 20px;
    padding-right: 20px;
  }
}
/* Min width 1400px to Max width 1550px */
@media only screen and (min-width: 1400px) and (max-width: 1550px) {
  /* Navbar Area */
  .desktop-nav .navbar .others-options .search-form {
    width: 245px;
    margin-left: 0;
  }
  .desktop-nav .navbar .others-options .search-form .form-control::-moz-placeholder {
    font-size: 14px;
  }
  .desktop-nav .navbar .others-options .search-form .form-control::placeholder {
    font-size: 14px;
  }
}
/* Min width 1551px to Max width 1715px */
@media only screen and (min-width: 1551px) and (max-width: 1715px) {
  .desktop-nav .navbar .others-options .search-form {
    width: 380px;
  }
}
/* Mobile and iPad Navbar */
@media only screen and (max-width: 991px) {
  .navbar-area {
    border-bottom: 1px solid #efefef;
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-area .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-area .dropdown-toggle::after {
    display: none;
  }
  .navbar-area.navbar-top {
    transform: translateY(0);
  }
  .navbar-area .is-sticky {
    border: none;
  }
  .mobile-responsive-nav {
    display: block;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .nav-item .row {
    display: block;
    flex-wrap: unset;
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .nav-item .row .col {
    flex-basis: unset;
    flex-grow: unset;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .nav-item .row .col .sub-menu-title {
    padding: 1em 10%;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu {
    width: auto;
    overflow: hidden;
    display: block !important;
    padding-left: 0;
    padding-right: 0;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu li a {
    padding: 1em 10%;
  }
  .mobile-responsive-nav .mean-container .navbar-nav .nav-item.mega-menu .dropdown-menu .sub-menu li:last-child a {
    padding-bottom: 0;
  }
  .mobile-responsive-nav .mobile-responsive-menu {
    position: relative;
  }
  .mobile-responsive-nav .mobile-responsive-menu .logo {
    position: relative;
    z-index: 2;
    max-width: 120px;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav {
    margin-top: 49px;
    background-color: var(--white-color);
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul {
    border: none !important;
    background-color: var(--white-color);
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a {
    border-top-color: #efefef;
    color: var(--heading-color) !important;
    font-size: 14px !important;
    font-weight: 600;
    text-transform: capitalize;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a i {
    display: none;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a.mean-expand {
    width: 100%;
    height: 28px;
    text-align: right;
    padding: 11px !important;
    background: transparent !important;
    border-left: none !important;
    border-bottom: none !important;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a.active {
    color: var(--main-color) !important;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 15px;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .navbar-nav {
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0 !important;
    max-height: 50vh;
    overflow-y: scroll;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .navbar-nav::-webkit-scrollbar {
    width: 7px;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .navbar-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .navbar-nav::-webkit-scrollbar-thumb {
    background: #888;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .navbar-nav::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container a.meanmenu-reveal {
    top: 0;
    padding: 0;
    width: 35px;
    height: 30px;
    padding-top: 12px;
    color: var(--main-color);
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container a.meanmenu-reveal span {
    background: var(--main-color);
    height: 4px;
    margin-top: -6px;
    border-radius: 0;
    position: relative;
    top: 8px;
  }
  .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-bar {
    background: transparent;
    position: absolute;
    z-index: 2;
    padding: 0;
  }
  .mobile-responsive-nav .others-options {
    display: none !important;
  }
  .desktop-nav {
    display: none !important;
  }
  .others-option-for-responsive {
    display: block !important;
  }
  .others-option-for-responsive .default-btn {
    font-size: 14px;
    padding: 14px 14px;
  }
  .fixed-top {
    position: unset;
  }
  /* Dark Mode Style */
  .dark-mode-btn {
    right: 0;
  }
  .dark-mode-btn .dark-version .switch {
    width: 38px;
    height: 38px;
  }
  /* WOW Style */
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
  /* Dropdown Style */
  .dropdown-menu-wrap .dropdowns-menu {
    padding: 15px !important;
    width: 207px !important;
  }
  .dropdown-menu-wrap .dropdowns-menu li {
    display: block !important;
  }
  .dropdown-menu-wrap {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
@media only screen and (max-width: 1285px) {
  .desktop-nav .navbar .search-box {
    margin-left: 25px;
    margin-right: 25px;
    width: 200px;
  }
}
@media only screen and (min-width: 1400px) {
  .desktop-nav .navbar .navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .desktop-nav .navbar .search-box {
    width: 380px;
  }
}/*# sourceMappingURL=responsive.css.map */