<div class="content-container">
  <div class="title-container">
    <h3 class="text">Business Information</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text"
          >Have you ever been declared insolvent? If “Yes”, state whether you
          have been rehabilitated and when.</label
        >
        <textarea
          placeholder="Have you ever been declared insolvent?"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="insolvent"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
