<div class="map-container">
  <input
    #mapSearchField
    class="form-control map"
    type="text"
    placeholder="Enter your address"
  />
  <google-map
    width="100%"
    height="250px"
    [center]="initialCoordinates"
    [options]="mapConfigurations"
    (mapClick)="centerMarkerAndMap($event)"
  >
    <ng-container *ngFor="let marker of markers">
      <map-marker
        [options]="marker.options"
        [label]="PinLabel"
        [position]="marker.position"
      ></map-marker>
    </ng-container>
  </google-map>
</div>
