.map-container {
  border-top: 1px solid var(--darkest-gray);
  border-bottom: 1px solid var(--darkest-gray);
}
/*Form*/
.form-control.map {
  margin-top: 0.25rem;
  padding: 1rem;
  width: 100%;
  border: none;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}
