<div class="content-container">
  <div class="title-container">
    <h3 class="text">Parcel Information</h3>
  </div>

  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text"
          >Enter information about your parcel to be returned or not
          returned.</label
        >
        <app-data-grid-input #dataGridCmp></app-data-grid-input>
      </div>
    </article>

    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text"
          >If All Goods are NOT to be Returned, Is it on a Temporary/Permanent
          basis</label
        >
        <p-dropdown
          [options]="['Temporary', 'Permanent']"
          formControlName="loanDetails"
          placeholder="Select Basis"
        >
        </p-dropdown>
      </div>
    </article>

    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
