<article class="hero-container">
  <div class="text-container">
    <h1 class="text">Welcome to your Diamond Hub Portal!</h1>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      tenetur quos optio omnis blanditiis nisi. Odio facere hic in
      necessitatibus perferendis pariatur deserunt obcaecati, corporis id. Quae
      voluptatum quis reprehenderit!
    </p>
    <article class="quick-links">
      <app-btn [label]="'Verify Documents'" routerLink="/verify"></app-btn>
      <app-btn
        [label]="'Home'"
        [styleClass]="'p-button-secondary p-button-text'"
        routerLink="/"
      ></app-btn>
    </article>
  </div>
  <div class="hero-img"></div>
</article>
