<app-nav></app-nav>
<body>
  <section class="video-container">
    <div class="page-content">
      <article class="content-container">
        <article class="headline">
          <h1>The All New Digital Diamond Hub Experience.</h1>
          <article class="quick-links">
            <app-btn
              [label]="'Verify Documents'"
              [styleClass]="'p-button-outlined'"
              (click)="verifyDocuments()"
            ></app-btn>
            <app-btn
              [label]="'Certificates and Licenses'"
              [styleClass]="'p-button-outlined'"
              (click)="certificates()"
            ></app-btn>
            <app-btn
              [label]="'Permits'"
              [styleClass]="'p-button-outlined'"
              (click)="permits()"
            ></app-btn>
          </article>
        </article>
      </article>
    </div>

    <video
      id="video"
      autoplay
      loop
      src="../../../assets/videos/falling.mp4"
      muted
    ></video>
    <div class="overlay"></div>
  </section>

  <article class="content-section">
    <div>
      <h2>About Us</h2>
      <div class="content-group">
        <img src="../../../assets/images/team.jpg" class="section-img" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ea.
          Laboriosam hic nesciunt qui vero dignissimos impedit eveniet tempore
          possimus, maiores voluptates ullam! Accusantium inventore iste
          voluptates qui deserunt dolores excepturi nihil assumenda nam
          distinctio quae earum fuga placeat, perferendis impedit asperiores
          minus. Maiores repellendus ipsam culpa nihil excepturi nulla libero
          impedit placeat repudiandae asperiores et, velit voluptate quasi
          sapiente distinctio voluptas, eveniet porro eligendi magni ipsa
          deleniti provident ratione! Dicta velit tempora nesciunt ipsam minus.
          Unde reiciendis suscipit autem? Molestias exercitationem voluptatibus
          iste at quas! Obcaecati dolores fugiat iusto corporis! Magnam eveniet
          sit, aliquid incidunt et sunt quae deserunt laboriosam libero eaque
          minima autem? Iste illo molestias libero consectetur quos fugiat,
          laborum impedit unde reprehenderit, et, ipsum eius. Accusamus
          voluptatibus praesentium molestias quam nam. Similique exercitationem
          qui harum, et fuga inventore eligendi laboriosam doloremque. Quos eius
          numquam sunt corporis labore aspernatur facere perferendis quidem
          aliquid enim, natus, ipsa doloremque dolor, rem dolore! Non, tempore
          quia qui nihil doloremque cum illo assumenda, aut quas neque id quis.
        </p>
      </div>
    </div>
  </article>

  <article class="content-section">
    <div>
      <h2>Our Services</h2>
      <div class="content-group">
        <img src="../../../assets/images/smile.jpg" class="section-img" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ea.
          Laboriosam hic nesciunt qui vero dignissimos impedit eveniet tempore
          possimus, maiores voluptates ullam! Accusantium inventore iste
          voluptates qui deserunt dolores excepturi nihil assumenda nam
          distinctio quae earum fuga placeat, perferendis impedit asperiores
          minus. Maiores repellendus ipsam culpa nihil excepturi nulla libero
          impedit placeat repudiandae asperiores et, velit voluptate quasi
          sapiente distinctio voluptas, eveniet porro eligendi magni ipsa
          deleniti provident ratione! Dicta velit tempora nesciunt ipsam minus.
          Unde reiciendis suscipit autem? Molestias exercitationem voluptatibus
          iste at quas! Obcaecati dolores fugiat iusto corporis! Magnam eveniet
          sit, aliquid incidunt et sunt quae deserunt laboriosam libero eaque
          minima autem? Iste illo molestias libero consectetur quos fugiat,
          laborum impedit unde reprehenderit, et, ipsum eius. Accusamus
          voluptatibus praesentium molestias quam nam. Similique exercitationem
          qui harum, et fuga inventore eligendi laboriosam doloremque. Quos eius
          numquam sunt corporis labore aspernatur facere perferendis quidem
          aliquid enim, natus, ipsa doloremque dolor, rem dolore! Non, tempore
          quia qui nihil doloremque cum illo assumenda, aut quas neque id quis.
        </p>
      </div>
    </div>
  </article>

  <article class="content-section">
    <div>
      <h2>Contact Us</h2>
      <div class="location-section">
        <div class="contact-container">
          <div class="card">
            <i class="pi pi-directions" style="font-size: 2.5rem"></i>
            <h3>Our Address</h3>
            <p>
              Gaborone, Botswana, Fairground Office Park, Plot 50676, Block C
            </p>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.404155322935!2d25.92030887955811!3d-24.678629846965393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ebb5be996ffffff%3A0x610e1060d572df99!2sFairgrounds%20Office%20Park!5e0!3m2!1sen!2sbw!4v1694444877176!5m2!1sen!2sbw"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div class="contact-group">
            <div class="card">
              <i class="pi pi-at" style="font-size: 2.5rem"></i>
              <h3>Email Address</h3>
              <p>mines@gov.bw</p>
            </div>
            <div class="card">
              <i class="pi pi-phone" style="font-size: 2.5rem"></i>
              <h3>Telephone</h3>
              <p>(+267) 365 6600</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</body>
