<div class="content-container">
  <div class="title-container">
    <h3 class="text">Stone Particulars</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text"
          >State quantities and source of any other inputs required (e.g. water,
          power)</label
        >
        <textarea
          placeholder="State quantities and source of any other inputs required (e.g. water, power)"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="typesQuantitiesOtherInputs"
        ></textarea>
      </div>
    </article>
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text"
          >State expected sales prices per type of stone</label
        >
        <textarea
          placeholder="State expected sales prices per type of stone"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="expectedSales"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
