<body *ngIf="document != null">
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Name of user</label>
      <p class="text">
        {{ document.applicant.fullName }}
      </p>
    </div>
    <div class="control-group">
      <label class="text">Email of user</label>
      <p class="text">{{ document.applicant.email }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">National identity number</label>
      <p class="text">
        {{ document.applicant.nationalIdentityNumber }}
      </p>
    </div>
    <div class="control-group">
      <label class="text">Application Date</label>
      <p class="text">
        {{ formattedDate(document.dateCreated) }}
      </p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Full Name</label>
      <p class="text">{{ application.name }}</p>
    </div>
    <div class="control-group">
      <label class="text">Nationality</label>
      <p class="text">{{ application.nationality }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Resedential Address</label>
      <p class="text">{{ application.address }}</p>
    </div>
    <div class="control-group">
      <label class="text">Occupation</label>
      <p class="text">{{ application.occupation }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Capacity</label>
      <p class="text">{{ application.capacity }}</p>
    </div>
    <div class="control-group">
      <label class="text">Date of Birth</label>
      <p class="text">
        {{ formattedDate(application.dateOfBirth) }}
      </p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Plant information</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.plantInformation"
        [columns]="plantInformationColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Employment information</label>
      <app-data-grid
        [height]="'150px'"
        [data]="application.employmentInformation"
        [columns]="employmentColumns"
      ></app-data-grid>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Value of Property (BWP)</label>
      <p class="text">{{ application.propertyValue }}</p>
    </div>
    <div class="control-group">
      <label class="text">Cash on Hand (BWP)</label>
      <p class="text">{{ application.cash }}</p>
    </div>
  </article>
  <article class="group-two-column">
    <div class="control-group">
      <label class="text">Other Assets (BWP)</label>
      <p class="text">{{ application.otherAssets }}</p>
    </div>
    <div class="control-group">
      <label class="text">Capital Intended to invest (BWP)</label>
      <p class="text">{{ application.capital }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Declared insolvent</label>
      <p class="text">{{ application.insolvent }}</p>
    </div>
  </article>
  <article class="group-one-column">
    <div class="control-group">
      <label class="text">Supporting documents</label>
      <ng-container *ngFor="let file of application.files">
        <p class="text">
          <a href="{{ file.fileUrl }}" target="_blank">{{ file.fileName }}</a>
        </p>
      </ng-container>
    </div>
  </article>
</body>
<body>
  <!--Form-->
  <form [formGroup]="reviewForm" class="form-container">
    <h4 class="text">Review</h4>
    <article class="group-one-column">
      <div class="control-group">
        <label class="text">Add your review</label>
        <p-selectButton
          [options]="stateOptions"
          formControlName="action"
          optionLabel="label"
          optionValue="value"
        ></p-selectButton>
        <textarea
          *ngIf="reviewForm.controls.action.value == 'Reject'"
          placeholder="Explain why the application was rejected"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="reason"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Confirm'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!reviewForm.valid"
        (click)="reviewForm.valid && review()"
      ></app-btn>
    </article>
  </form>
</body>
