<div class="content-container">
  <div class="title-container">
    <h3 class="text">Financial Position</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Value of Property (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['propertyValue']"
          [label]="'value of property'"
          [placeholder]="'Value of Property'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Cash on Hand (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['cash']"
          [label]="'cash on hand'"
          [placeholder]="'Cash on Hand'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Other Assets (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['otherAssets']"
          [label]="'other assets'"
          [placeholder]="'Other Assets'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Capital you intend to invest (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['capital']"
          [label]="'capital'"
          [placeholder]="'Capital you intend to invest'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text"
          >State types and quantities of stones needed per year</label
        >
        <textarea
          placeholder="State types and quantities of stones needed per year"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="typesQuantitiesStones"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
