<div class="content-container">
  <div class="title-container">
    <h3 class="text">Organization Information</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Name of Applicant</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['name']"
          [label]="'name of applicant'"
          [placeholder]="'Name of Applicant'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Manufacturing License Number</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['manufacturingLicenseNumber']"
          [label]="'manufacturing license number'"
          [placeholder]="'Manufacturing License Number'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Address in Botswana</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['address']"
          [label]="'address in Botswana'"
          [placeholder]="'Address in Botswana'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Authorized Share Capital (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['authorizedShareCapital']"
          [label]="'authorized share capital'"
          [placeholder]="'Authorized Share Capital'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Issued Share Capital (BWP)</label>
        <app-text-input
          [type]="'number'"
          [formControl]="serviceForm.controls['issuedShareCapital']"
          [label]="'issued share capital'"
          [placeholder]="'Issued Share Capital'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Experience in semi-precious stones</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['experience']"
          [label]="'experience'"
          [placeholder]="'Experience in semi-precious stones'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>
    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text">Enter directors details</label>
        <app-data-grid-input
          [height]="'150px'"
          #dataGridCmp
        ></app-data-grid-input>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
