<div class="content-container">
  <div class="title-container">
    <h3 class="text">Business Report</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <!--Business Report-->
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text"
          >Describe the process of cutting and polishing the stones</label
        >
        <textarea
          placeholder="Describe the process of cutting and polishing the stones"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="process"
        ></textarea>
      </div>
      <div class="form-control-group">
        <label class="text"
          >Are there any challenges or obstacles in the sourcing and value
          addition process?</label
        >
        <textarea
          placeholder="Are there any challenges or obstacles in the sourcing and value addition process?"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="challenges"
        ></textarea>
      </div>
    </article>
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text"
          >What strategies will be employed to overcome these challenges?</label
        >
        <textarea
          placeholder="What strategies will be employed to overcome these challenges?"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="strategies"
        ></textarea>
      </div>
      <div class="form-control-group">
        <label class="text"
          >Provide an estimation of the cost involved in sourcing and value
          addition</label
        >
        <textarea
          placeholder="Provide an estimation of the cost involved in sourcing and value addition"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="cost"
        ></textarea>
      </div>
    </article>
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text"
          >What is the expected timeline for the entire process from sourcing to
          value addition?</label
        >
        <textarea
          placeholder="What is the expected timeline for the entire process from sourcing to value addition?"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="timeline"
        ></textarea>
      </div>
      <div class="form-control-group">
        <label class="text"
          >Explain the quality control measures in place for the stones during
          value addition</label
        >
        <textarea
          placeholder="Explain the quality control measures in place for the stones during value addition"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="qualityControl"
        ></textarea>
      </div>
    </article>
    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
