.content-container {
  padding: 0 2rem;
}

.title-container {
  border-bottom: 1px solid var(--light-gray);
  padding: 1rem 0;
}
/*Content*/
.form-container {
  padding: 1rem;
  width: 100%;
}

.form-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.form-group-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.form-group-one-column {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
}

label {
  font-size: 0.8rem;
  display: block;
  margin: 0.5rem 0;
}

.btn-register {
  width: 90%;
  border-radius: 0.25rem;
}

.phone-number-group {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 0.5rem;
}

.text-form-control {
  text-align: center;
}

.text-form-control.country-code {
  width: min-content;
  height: min-content;
  font-weight: bold;
}

.country-code-container {
  display: flex;
  gap: 0.25rem;
}

.form-control-container {
  width: 100%;
}

.time-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

input[type="file"] {
  font-size: 0.6rem;
}

:host ::ng-deep .p-multiselect {
  width: 100%;
  max-width: 100%;
}

:host ::ng-deep .p-multiselect:hover {
  font-family: sans-serif;
}
