<div class="content-container">
  <div class="title-container">
    <h2 class="text">Register User</h2>
  </div>

  <form
    [formGroup]="userForm"
    (ngSubmit)="userForm.valid && registerUser()"
    class="form-container"
  >
    <article class="form-group">
      <div class="form-control-group">
        <label class="text">First Name</label>
        <app-text-input
          [type]="'text'"
          [formControl]="userForm.controls['firstname']"
          [label]="'first name'"
          [placeholder]="'First Name'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Last Name</label>
        <app-text-input
          [type]="'text'"
          [formControl]="userForm.controls['lastname']"
          [label]="'last name'"
          [placeholder]="'Last Name'"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Phone Number</label>
        <div class="phone-number-group">
          <app-country-code-selection
            [formControl]="userForm.controls['countryCode']"
            [defaultCountryName]="'BWA'"
          ></app-country-code-selection>
          <app-text-input
            [type]="'text'"
            id="'phoneNumber"
            [formControl]="userForm.controls['phoneNumber']"
            [label]="'phone number'"
            [placeholder]="'Enter phone number'"
            class="form-control-container"
          ></app-text-input>
        </div>
      </div>
    </article>

    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">User Name</label>
        <app-text-input
          [type]="'text'"
          [formControl]="userForm.controls['username']"
          [label]="'user name'"
          [placeholder]="'User Name'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Email</label>
        <app-text-input
          [type]="'email'"
          [formControl]="userForm.controls['email']"
          [label]="'email'"
          [placeholder]="'Email'"
        ></app-text-input>
      </div>
    </article>

    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">National Identity Number</label>
        <app-text-input
          [type]="'text'"
          [formControl]="userForm.controls['nationalIdentityNumber']"
          [label]="'national identity number'"
          [placeholder]="'National Identity Number'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Password</label>
        <app-text-input
          [type]="'text'"
          [formControl]="userForm.controls['password']"
          [label]="'password'"
          [placeholder]="'Password'"
        ></app-text-input>
      </div>
    </article>

    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Permissions</label>
        <p-multiSelect
          [filter]="false"
          [options]="permissions"
          formControlName="permissions"
          defaultLabel="Select permissions"
        ></p-multiSelect>
      </div>
    </article>
    <article class="form-group">
      <button [disabled]="!userForm.valid" class="btn btn-register">
        Register User
      </button>
    </article>
  </form>
</div>
