<div class="content-container">
  <div class="main-title-container">
    <h2 class="text">Register Rough Diamonds</h2>
  </div>
  <!--Content-->
  <article class="container">
    <!--Diamond Form-->
    <article class="document-form">
      <div class="content-container">
        <div class="title-container">
          <h3 class="text">Diamond Information</h3>
        </div>
        <form [formGroup]="serviceForm" class="form-container">
          <article class="form-group-two-column">
            <div class="form-control-group">
              <label class="text">Enter your diamond cutting license</label>
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondCuttingLicense']"
                [label]="'diamond cutting license'"
                [placeholder]="'Diamond Cutting License'"
                class="form-control-container"
              ></app-text-input>
            </div>
            <div class="form-control-group">
              <label class="text">Diamond Type</label>
              <p-dropdown
                [options]="[
                  'Natural Diamonds',
                  'Fancy Color Diamonds',
                  'Synthetic Diamonds',
                  'Industrial Diamonds',
                  'Colored Diamonds'
                ]"
                formControlName="diamondType"
                placeholder="Diamond Type"
              >
              </p-dropdown>
            </div>
          </article>
          <article class="form-group-two-column">
            <div class="form-control-group">
              <label class="text">Color Grade</label>
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondColorGrade']"
                [label]="'color grade'"
                [placeholder]="'Color Grade'"
                class="form-control-container"
              ></app-text-input>
            </div>
            <div class="form-control-group">
              <label class="text">Clarity Grade</label>
              <p-dropdown
                [options]="[
                  'Flawless (FL)',
                  'Internally Flawless (IF)',
                  'Very, Very Slightly Included (VVS1 and VVS2)',
                  'Very Slightly Included (VS1 and VS2)',
                  'Slightly Included (SI1 and SI2)',
                  'Included (I1, I2, and I3)'
                ]"
                formControlName="diamondClarityGrade"
                placeholder="Clarity Grade"
              >
              </p-dropdown>
            </div>
          </article>
          <article class="form-group-two-column">
            <div class="form-control-group">
              <label class="text"
                >Diamond Dimensions (length, width, height)</label
              >
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondDimensions']"
                [label]="'diamond dimensions'"
                [placeholder]="'Diamond Dimensions (length, width, height)'"
                class="form-control-container"
              ></app-text-input>
            </div>
            <div class="form-control-group">
              <label class="text">Diamond Weight</label>
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondWeight']"
                [label]="'diamond weight'"
                [placeholder]="'Diamond Weight'"
                class="form-control-container"
              ></app-text-input>
            </div>
          </article>
          <article class="form-group-two-column">
            <div class="form-control-group">
              <label class="text">Country of Origin</label>
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondOriginCountry']"
                [label]="'country of origin'"
                [placeholder]="'Country of Origin'"
                class="form-control-container"
              ></app-text-input>
            </div>
            <div class="form-control-group">
              <label class="text">Diamond Source (e.g., mine, supplier)</label>
              <app-text-input
                [type]="'text'"
                [formControl]="serviceForm.controls['diamondSource']"
                [label]="'diamond source'"
                [placeholder]="'Diamond Source (e.g., mine, supplier)'"
                class="form-control-container"
              ></app-text-input>
            </div>
          </article>
          <article class="navigation-section">
            <app-btn
              [label]="'Confirm'"
              [iconPos]="'right'"
              [icon]="'pi pi-chevron-right'"
              [disabled]="!serviceForm.valid"
              (click)="serviceForm.valid && next()"
            ></app-btn>
          </article>
        </form>
      </div>
    </article>
  </article>
</div>
