@using API.Core.Model;
@model IEnumerable<LinkPreview>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MESD Learning Management System</title>
    <style>
        * {
            font-family: "Lato", sans-serif;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background: #f8f9fa;
        }

        .hero-container {
            background-image: linear-gradient(#65c2eb 0%, #26a9e7 100%);
            background-repeat: repeat-x;
            padding: 3rem 2rem;
            border-radius: 0 0 2rem 0;
            margin-bottom: 1rem;
        }

        h1 {
            color: #fff;
        }

        article {
            padding: 1rem;
            margin: 0 auto;
            max-width: 90%;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        li {
            display: block;
            background: #fff;
            box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.0125);
            border-radius: 1rem;
            padding: 1rem;
            cursor: pointer;
        }

        img {
            width: 64px;
        }

        a {
            display: flex;
            gap: 2rem;
        }

        a {
            text-decoration: none;
            color: #26a9e7;
            font-weight: bold;
        }
    </style>
</head>
<header class="hero-container">
    <h1>Select an organization</h1>
</header>
<body>
    <article>
        <ul>
            @foreach (var linkPreview in Model)
            {
                <li>
                    <a href="@linkPreview.Url">
                        @if (linkPreview.Favicons != null && linkPreview.Favicons.Any())
                        {
                            <img src="@linkPreview.Favicons.First()" alt="Favicon" style="max-width: 64px; max-height: 64px" />
                        }
                        <p>@linkPreview.Title</p>
                    </a>
                </li>
            }
        </ul>
    </article>
</body>
</html>