<div class="content-container">
  <div class="title-container">
    <h3 class="text">Payment and Confirmation</h3>
    <h4 class="text">You are required to pay BWP 500.00</h4>
    <p class="text">
      I am aware that any statement I have made in this application which is
      false or incomplete will automatically render me ineligible to be issued
      with the licence applied for and may render me liable for prosecution. I
      swear that the information provided in this application is true and
      complete.
    </p>
  </div>
  <article class="navigation-section">
    <app-btn
      [label]="'Previous'"
      [iconPos]="'left'"
      [icon]="'pi pi-chevron-left'"
      (click)="previous()"
    ></app-btn>
    <app-btn
      [label]="'Confirm'"
      [iconPos]="'right'"
      [icon]="'pi pi-chevron-right'"
      [styleClass]="'p-button-success'"
      (click)="next()"
    ></app-btn>
  </article>
</div>
