<div class="content-container">
  <div class="title-container">
    <h3 class="text">Export Information</h3>
  </div>
  <form [formGroup]="serviceForm" class="form-container">
    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Country of Origin</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['originCountry']"
          [label]="'country of origin'"
          [placeholder]="'Country of Origin'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Diamond Type</label>
        <p-dropdown
          [options]="['Rough', 'Sawn', 'Marked']"
          formControlName="diamondType"
          placeholder="Diamond Type"
        >
        </p-dropdown>
      </div>
    </article>

    <article class="form-group-two-column">
      <div class="form-control-group">
        <label class="text">Name of Exporter</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['name']"
          [label]="'name of exporter'"
          [placeholder]="'Name of Exporter'"
          class="form-control-container"
        ></app-text-input>
      </div>
      <div class="form-control-group">
        <label class="text">Export Address</label>
        <app-text-input
          [type]="'text'"
          [formControl]="serviceForm.controls['exportAddress']"
          [label]="'export address'"
          [placeholder]="'Export Address'"
          class="form-control-container"
        ></app-text-input>
      </div>
    </article>

    <article class="form-group-one-column">
      <div class="form-control-group">
        <label class="text">Reason for Export</label>
        <textarea
          placeholder="Reason for Export"
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="exportReason"
        ></textarea>
      </div>
    </article>

    <article class="navigation-section">
      <app-btn
        [label]="'Previous'"
        [iconPos]="'left'"
        [icon]="'pi pi-chevron-left'"
        (click)="previous()"
      ></app-btn>
      <app-btn
        [label]="'Next'"
        [iconPos]="'right'"
        [icon]="'pi pi-chevron-right'"
        [disabled]="!serviceForm.valid"
        (click)="serviceForm.valid && next()"
      ></app-btn>
    </article>
  </form>
</div>
